<div class="col-md-4 col-md-offset-2">
	<h2>Book Details</h2>
	<p>
		<small>Title</small><br>
		<strong>{{title}}</strong><br>
	</p>
	<p>
		<small>Author</small><br>
		<strong>{{author}}</strong><br>
	</p>
	<p>
		<small>Price</small><br>
		<strong>{{price}}</strong><br>
	</p>
	<p>
		<small>Description</small><br>
		<strong>{{description}}</strong><br>
	</p>
	<p>
		<small>Created Date</small><br>
		<strong>{{createdAt}}</strong><br>
	</p>
	<p>
		<small>Updated Date</small><br>
		<strong>{{updatedAt}}</strong>
	</p>
</div>
<div class="col-md-4">
	<img src="/{{photo}}" alt="{{title}} {{author}}" class="img-responsive">
</div>